
.panel.panel-default.col-md-offset-2.col-md-8
  %ol.breadcrumb
    %li= link_to "Courses", user_courses_path(current_user)
    %li= link_to @course.name, course_path(@course)
    %li.active= @quiz.name

  = link_to "New question", new_quiz_question_path(@quiz), class: "btn btn-default"
  .panel-body
    .list-group
      - @questions.each do |question|
        - if question.id == @question.id
          .list-group-item
            .row
              = form_for :question, url: question_path(question), method: :patch do |f|
                .form
                  .form-group
                    = f.label :name, class: "sr-only"
                    .textarea.col-md-8= f.text_area :name, rows: "2", class: "form-control list-group-item", autofocus: true
                    .col-md-1= f.submit "Update", class: "btn"
              .col-md-offset-10= link_to "Back to Quiz", quiz_path(@quiz), class: "btn btn-default"
            .row
              .form
                .form-group.col-md-4
                  = form_for :question, url: question_path(question), method: :patch, html: { multipart: true } do |f|
                    = f.label :image, class: "sr-only"
                    = f.file_field :image
                    = f.submit "Upload", class: "btn-xs btn-default"
            .row
              .col-md-7
                - @answers.each do |answer|
                  .row  
                    .form
                      .form-group.form-group-sm
                        = form_for answer, url: answer_path(answer), method: :patch do |f|
                          = f.label :name, class: "sr-only"
                          .textarea.col-md-7= f.text_area :name, rows: "1", class: "form-control list-group-item"
                          .checkbox
                            %label.col-md-2
                              = f.label :correct, class: "sr-only"
                              = f.check_box :correct
                              = f.submit "Update", class: "btn"
                    .col-md-1= link_to "Remove", answer_path(answer), method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }
                  .row
                    .form
                      .form-group.col-md-7
                        = form_for answer, url: answer_path(answer), method: :patch, html: { multipart: true } do |f|
                          = f.label :image, class: "sr-only" 
                          = f.file_field :image
                          = f.submit "Upload", class: "btn-xs btn-default"

                = form_for :answer, url: question_answers_path(question) do |f|
                  .row
                    .form
                      .form-group.form-group-sm
                        .checkbox
                          %label
                          = f.check_box :correct
                          = f.label :name, class: "sr-only"
                          .textarea.col-md-7= f.text_area :name, rows: "1", class: "form-control list-group-item"
                          = f.submit "Add answer", class: "btn btn-primary"
              .col-md-5
                - @groups.each do |group|
                  .label.label-success
                    = group.name
                    = link_to '', group_path(group), method: :destroy, class: "glyphicon glyphicon-remove" 

                = form_for :group, url: question_groups_path(question) do |f|
                  .row
                    .form
                      .form_group.form-group-sm
                        = f.label :name, class: "sr-only"
                        .col-md-7= f.text_field :name, class: "form-control"
                        = f.submit "Add new group", class: "btn btn-default btn-sm"
        - else
          .list-group-item
            .row
              %p.lead.col-md-11= "#{question.name}"
            - question.answers.each do |answer|
              .checkbox.disabled
                %label
                  %input{type: "checkbox", value: "", disabled: true}
                  = answer.name 
