
.panel.panel-default.col-md-offset-2.col-md-8
  %ul.nav.nav-tabs    
    %li.active= link_to "Courses"
    %li= link_to "Student Groups", student_groups_path
  %ol.breadcrumb
    %li= link_to "Courses", user_courses_path(current_user)
    %li= link_to @course.name, course_path(@course)
    %li.active= @quiz.name
  

  .col-md-6
    = link_to "New question", new_quiz_question_path(@quiz), class: "btn btn-default"
  .col-md-6
    %button.btn.btn-primary.pull-right{"data-toggle": "modal", "data-target": "#generateModal"} Generate quiz 

  .row

  .panel-body
    .list-group
      - @questions.each do |question|
        .list-group-item
          .row
            .lead.col-md-9= "#{question.name}"
            .col-md-1= link_to "Edit", edit_question_path(question), class: "btn btn-default"
            .col-md-offset-1= link_to "Remove", question_path(question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
          - if question.image_file_name
            .img-responsive= image_tag question.image.url(:medium)
          %ul.list-group
            - question.answers.each do |answer|
              - if answer.correct
                %li.list-group-item.list-group-item-success
                  = answer.name 
                  - if answer.image_file_name
                    .img-responsive= image_tag answer.image.url(:medium)
              - else
                .list-group-item
                  = answer.name 
                  - if answer.image_file_name
                    .img-responsive= image_tag answer.image.url(:medium)

.modal.fade{id: "generateModal", role: "dialog", "aria-hidden": "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.glyphicon.glyphicon-remove.close{"data-dismiss": "modal", "aria-label": "Close"}
        %h4.modal-title Generate Quiz
      .modal-body
        .form
          = form_for :generated_quiz, url: generated_quizzes_path, method: :create do |f|
            = f.hidden_field :quiz_id, value: @quiz.id
            = f.hidden_field :course_id, value: @course.id
            .form-group
              = f.label :nr_of_copies, class: "control-label"
              = f.number_field :nr_of_copies, min: 0, max: 99, class: "form-control", type: "number", autofocus: true
            = f.submit "Generate", class: "btn btn-primary"
      .modal-footer
        / # = link_to "Generate", generated_quizzes_path(generated_quiz: {quiz_id: @quiz.id, course_id: @course.id}), method: :create, class: "btn btn-primary"
