- if current_user
  .navbar.navbar-default
    .container
      .navbar-header
        = link_to "QTK", user_courses_path(current_user), class: "navbar-brand"
      .navbar-form.navbar-left
        = form_for :user, url: upload_path, html: { multipart: true } do |f|
          .form-group
            = file_field_tag "scans[]", type: :file, multiple: true
          = f.submit "Upload scans", class: "btn btn-default" 
      .navbar-right
        %p.navbar-text= current_user.email
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn"
