
.panel.panel-default.col-md-offset-3.col-md-6
  %ul.nav.nav-tabs    
    %li.active= link_to "Courses"
    %li= link_to "Student Groups", student_groups_path
  .panel-body
    = form_for :course, url: user_courses_path(current_user) do |f|
      - if @course.errors.any?
        .alert.alert-danger.alert-dismissible
          %button.close{"data-dismiss": "alert", "aria-label": "Close"} &times;
          .glyphicon.glyphicon-exclamation-sign
          %strong= pluralize(@course.errors.count, "error")
          %strong prohibited this course from being saved:
          %ul
            - @course.errors.full_messages.each do |msg|
              %li= msg
      .row
        .form
          .form-group.col-md-4
            = f.label :name, class: "sr-only"
            = f.text_field :name, class: "form-control"
          .col-md-8
            = f.submit "Create", class: "btn btn-default"
    .list-group
      - @courses.each do |course|
        .row
          .col-md-4= link_to course.name, course_path(course), class: "list-group-item"
          .col-md-8
            = link_to "Edit", edit_course_path(course), class: "btn btn-default"
            = link_to "Remove", course_path(course), method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }
    

