%p
	%h1= @course.name

= link_to "Back", user_courses_path(@user)


= form_for [@course, @course.quizzes.build] do |f|
	.form-horizontal
		.form-group
			.control-label.col-md-2= f.label :name
			.col-md-6
				= f.text_field :name, class: "form-control"


		.form-group
			.col-md-offset-2.col-md-10
				.button= f.submit "Create"	

- @quizzes.each do |quiz|
	%h3
		= link_to quiz.name
		= link_to "destroy", quiz_path(quiz), method: :delete
